body{
    font-weight: bold;
    color: white;
    background-color: black;
    white-space: normal;
}
.list {
    border: 1px solid white;
    font-size: large;
    text-align: left;
    font-style: bold;
    margin: 2%;
    /* I think i fixed the text overflowing from the border by 
    taking out my whitespace:normal command. */
}
.blog-p {
    text-align: center;
    font-size: 35;

    width: fit-content;
    border: 1px solid white;
    margin: 2%;
    height: 0%;
    padding-bottom: 7%;
    overflow: auto;
}
.blog-title {
    font-size:18;
    margin: 2%;
}
.img-apex {
    border: 1px solid white;
    width: fit-content;
    height: 360px;
    background-image: url(https://picfiles.alphacoders.com/230/230558.jpg);
    background-size: cover;
    margin: 2%;
}
